@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: "dungGeunMo";
  src: url("./assets/font/DungGeunMo.ttf");
}
