:root {
    --cell-border-color: #000000cc;
    --cell-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@font-face {
    font-family: "dungGeunMo";
    src: url("./assets/font/DungGeunMo.ttf");
}
